<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Photos App</a>
        <nav>
            <ul class="navbar-nav">  
            {% if session.get('user') %}
                <li class="welcome-message">Hey {{ session['user']}}!</li> | 
                <li class="navbar-item"><a class="navbar-text" href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li class="navbar-item"><a class="navbar-text" href="{{ url_for('signup') }}">Signup</a></li>
            {% endif %}  
            </ul>
        </nav>
    </div>
</nav>
