<nav class="navbar navbar-expand-sm navbar-light bg-light" style="position: sticky; top: 0; background-color: #e3f2fd">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/azure-icon.svg')}}" alt="" width="30" height="24" class="d-inline-block align-text-top"/>
            <b>Photos App</b>
        </a>
        <div id="navbarNav">
            <ul class="nav nav-justified">
                <li id="search">
                    <form class="d-flex" action="{{ url_for('search') }}" method="post">
                        <input class="form-control border" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </li>
            {% if session.get('user') %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="createImageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">New Image</a>
                    <ul class="dropdown-menu" aria-labelledby="createImageDropdown">
                        <li><a href="{{ url_for('new') }}" class="dropdown-item">New Pin</a></li>
                        <li><a href="{{ url_for('photos') }}" class="dropdown-item">Upload Images</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if session.get('user') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="menuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hey {{ session['user']}}!
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="menuDropdown">
                        <li><a href="#" class="dropdown-item">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}" class="dropdown-item">Logout</a></li>
                    </ul>
                </li>

            {% else %}
                <li class="navbar-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                <li class="navbar-item"><a class="nav-link" href="{{ url_for('signup') }}">Signup</a></li>
            {% endif %}  
            </ul>
        </div>
    </div>
</nav>
