{% extends 'layout.html' %}

{% block content %}
<script type="module">
    import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
    window.Stimulus = Application.start()

    Stimulus.register("tag", class extends Controller {
      static targets = [ "name" ]

      connect() {
        const tag = this.element.querySelector("#first_tag")
        if(tag) {
          this.display_pins(tag.innerHTML)
        }
      }

      show(event) {
        const tag = event.target.innerHTML;
        this.display_pins(tag)
          //.then(data => this.nameTarget.appendChild(display_pin(pin)))
      }

      display_pins(tag) {
        const all_pin = document.createElement("div");
        all_pin.classList.add('row');
        fetch(`/api/pins?keyword=${tag}`)
          .then(response => response.json())
          .then(data => data.forEach(pin => {
            console.log(pin["image_url"], pin["pin_by"], pin["title"])  
            all_pin.insertAdjacentHTML('beforeend', this.display_pin(pin))
          }))
          this.nameTarget.innerHTML = '';
          this.nameTarget.appendChild(all_pin)
      }

      display_pin(pin) {
        const image_url = pin["image_url"];
        const pin_image = `
          <div class="card" style="width: 15rem;"">
            <img src='${image_url}' class="card-img-top" width='' height=''/>
          </div>
        `
        return pin_image;
      }
    })
</script>
<main>
    <div class="container" data-controller="tag">
      <div class="row">
        <div class="col-md-5">
            <div class="px-4 py-3 my-2 text-center">
                <img class="d-block mx-auto" src='{{ this_pin["image_url"] }}' width="380" height="auto"/>
                <div class="my-4 text-end">
                  <a href="#" class="btn btn-light btn-lg px-3 gap-3"><i class="fa-solid fa-heart"></i></a>
                  <a href="#" class="btn btn-light btn-lg px-3 gap-3"><i class="fa-solid fa-thumbtack"></i></a>
                </div>
                {% if this_pin["title"] %}
                    <h3 class="display-8 fw-bold">{{ this_pin["title"] }}</h3>
                {% else %}
                    <h3 class="display-8 fw-bold">{{ pin_detail["caption"] }}</h3>
                {% endif %}
                <div class="my-4">
                  {% if pin_detail %}
                    <p class="d-none" id="first_tag">{{ pin_detail["tags"][0] }}</p>
                  {% endif %}
                  {% for tag in pin_detail["tags"] %}
                    <p class="d-inline mx-1 btn btn-sm btn-outline-primary"
                    data-action="click->tag#show">{{ tag }}</p>
                  {% endfor %}
                </div>
            </div>
            {% if session.get('user') %}
            <form action='/pins/{{ this_pin.id}}' method="POST">
                <div class="col-md-6 mx-auto text-center">
                    <label for="name" class="form-label fw-bold fs-5">Edit image title</label>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                        <input type="text" class="form-control" name="new_title" placeholder="New Title" />
                    </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                        <button type="submit" class="btn btn-primary btn-lg">Submit <i class="fa-solid fa-pen"></i></button>
                        <a href="{{ url_for('index') }}" type="button" class="btn btn-warning btn-lg">Cancel</a>
                    </div>
                </div>
            </form>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                <a href="/delete/{{this_pin.id}}" class="btn btn-danger btn-lg px-4 gap-3">Delete a pin</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-7">
          <div class="mx-4 mt-4" data-tag-target="name">
            <p>Show similar images here</p>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}