{% extends 'layout.html' %}

{% block content %}
<script type="module">
    import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
    window.Stimulus = Application.start()

    Stimulus.register("tag", class extends Controller {
      static targets = [ "name" ]

      connect() {
        const tag = this.element.querySelector("#first_tag")
        if(tag) {
          this.display_pins(tag.innerHTML)
        }
      }

      show(event) {
        const tag = event.target.innerHTML;
        this.display_pins(tag)
          //.then(data => this.nameTarget.appendChild(display_pin(pin)))
      }

      display_pins(tag) {
        const all_pin = document.createElement("div");
        all_pin.classList.add('row');
        fetch(`/api/pins?keyword=${tag}`)
          .then(response => response.json())
          .then(data => data.forEach(pin => {
            console.log(pin["image_url"], pin["pin_by"], pin["title"])  
            all_pin.insertAdjacentHTML('beforeend', this.display_pin(pin))
          }))
          this.nameTarget.innerHTML = '';
          this.nameTarget.appendChild(all_pin)
      }

      display_pin(pin) {
        const image_url = pin["image_url"];
        const image_id = pin["id"];
         const pin_image = `
          <div class="col-md-3 col-sm-4">
            <a href='/pins/${image_id}'>
              <img src='${image_url}' class="card-img-top rounded" height='auto' />
            </a>
          </div>
        `
        return pin_image;
      }
    })
</script>
<main class="container">
    <div class="mt-4" data-controller="tag">
      <div class="col-md-10 mx-auto shadow mb-2 bg-body rounded row">
        <div class="col-md border-end">
          <div class="my-3">
            <img class="d-block mx-auto" src='{{ this_pin["image_url"] }}' width="350" height="auto"/>
          </div>
        </div>
        <div class="col-md">
          <div class="my-3">
            {% if this_pin["title"] %}
              <h3 class="display-8 fw-bold">{{ this_pin["title"] }}</h3>
            {% else %}
              <h3 class="display-8 fw-bold">{{ pin_detail["caption"] }}</h3>
            {% endif %}
            <div class="my-2">
              {% if pin_detail %}
                <p class="d-none" id="first_tag">{{ pin_detail["tags"][0] }}</p>
              {% endif %}
              {% for tag in pin_detail["tags"] %}
                <p class="d-inline-block mx-1 btn btn-sm btn-outline-primary"
                data-action="click->tag#show">{{ tag }}</p>
              {% endfor %}
            </div>
            {% if this_pin["title"] %}
              <p class="fw-light">Caption: {{ pin_detail["caption"] }}</p>
            {% endif %}
            <hr>
            <div class="mt-2 text-end">
              <a href="{{ url_for('profile', username=this_pin.pin_by.username) }}" class="btn btn-light px-3 gap-3 fw-bold">
                {{ this_pin.pin_by.username }}
              </a>
              <a href="#" class="btn btn-light btn-lg px-3 gap-3"><i class="fa-solid fa-heart"></i></a>
              <a href="#" class="btn btn-light btn-lg px-3 gap-3"><i class="fa-solid fa-thumbtack"></i></a>
            </div>
            <div class="my-2">
              <a href="{{ url_for('index') }}" class="btn btn-warning">Back home</a>
              {% if session.get('user') %}
              <a href="/delete/{{this_pin.id}}" class="btn btn-danger">
                <i class="fa-solid fa-trash"></i> Delete
              </a>
              {% endif %}
            </div>
            {% if session.get('user') %}
            <form action='/pins/{{ this_pin.id}}' method="POST" class="mt-2">
              <div>
                  <label for="name" class="form-label fw-bold fs-5">Edit image title</label>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                      <input type="text" class="form-control" name="new_title" placeholder="New Title" />
                  </div>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                    <button type="submit" class="btn btn-primary btn-lg">
                      <i class="fa-solid fa-pen"></i> Edit
                    </button>
                  </div>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h3 class="text-center">View similar pins</h3>
        <div class="my-2" data-tag-target="name">
        </div>
      </div>
    </div>
</main>
{% endblock %}